{% import "_includes/forms" as forms %}

{% macro elementSelectField(name, elementSelectSettings) %}

    {% import "_includes/forms" as forms %}
    {% set input %}
        {{ forms.elementSelectField({
            id: name,
            name: name,
            viewMode: "small",
        }|merge(elementSelectSettings)) }}
    {% endset %}

    {{ forms.field({
        id: name~'event-select',
    }, input) }}

{% endmacro %}


{% from _self import elementSelectField %}

{{ elementSelectField(name, elementSelectSettings, false) }}
