{% import "_includes/forms" as forms %}

{% macro limitField(settings) %}
    {% import "_includes/forms" as forms %}
    {% set input %}
        {{ forms.textField({
                label: "Limit"|t,
                instructions: "Limit the number of selectable locations."|t,
                id: 'limit',
                name: 'limit',
                value: settings.limit,
                size: 2,
                errors: settings.getErrors('limit')
            }) }}
    {% endset %}

    {{ forms.field({
        id:  'limit',
    }, input) }}
{% endmacro %}

{% macro errorOnly(label, fill) %}
    {% import "_includes/forms" as forms %}

    {{ forms.field({
        label: label,
    }, '<p class="error">' ~ fill ~ '</p>') }}

{% endmacro %}


{% from _self import limitField, errorOnly %}

{% if locations %}
    {% set sources = craft.elements.getElementType('Venti_Location'); %}
    <input type="hidden" name="sources" value="{{ sources.getSources() }}" />
    {{ limitField(settings) }}
{% endif %}
