{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{# New Group is used if group select was changed and saved. If there was an error this allows for the right group fields/tabs to be applied #}
{% set eventGroup = newGroup is defined ? newGroup : group %}
{% set isVersion = className(event) == 'tippingmedia\\venti\\elements\\VentiEvent' %}

{% set canPublish = currentUser.can('venti-manageEventsFor'~permissionSuffix) %}
{# or currentUser.can('createEvents'~permissionSuffix) #}
{% set canSave = (
	(event.id) or
	(not event.id or not event.enabled or canPublish)
) %}


{# Get first and last hours #}
{% set ed = now|date_modify('tomorrow -1 min') %}
{% set sd = now|date_modify('today') %}

{% macro groupMenu(group) %}

	{% import "_includes/forms" as forms %}
	{% set input %}

		<div id="group-select" class="btn groupbtn" role="button" data-menu-anchor="#group-menu-anchor">
			<div id="group">
				<span class="menu-label-color groupbtn-color" style="background-color:{{group.color}}"></span><span class='groupbtn-label'>{{group.name}}</span>
			</div>
			<div id="group-menu-anchor"></div>
		</div>
		<div class="menu">
			<ul class="venti-group-menu-select">
				{% set groups = craft.venti.groups() %}
				{% for group in groups %}
					{% set canManageGroupEvents = currentUser.can('venti-manageEventsFor:' ~ group.id) %}
					{% if canManageGroupEvents %}
						<li><a data-value="{{group.id}}" data-label="{{group.name}}" data-color="{{group.color}}"><span class="menu-option-color" style="background-color:{{group.color}}"></span><span>{{group.name}}</span></a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="spinner hidden"></div>

	{% endset %}

    {{ forms.field({
        id: 'venti-group-menu',
		label: 'Event Group'|t,
    }, input) }}

{% endmacro %}

{% from _self import groupMenu %}


{% block contextMenu %}
    {% if event.id or showSites %}
        {% include "venti/events/_context" %}
    {% endif %}
{% endblock %}

{% block actionButton %}
	{% if canSave %}
		<input type="hidden" name="action" value="venti/event/save-event">
		{{ redirectInput('venti/') }}

		<div class="btngroup">
			<input type="submit" class="btn submit" value="{{ 'Save'|t('venti') }}">

			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="formsubmit" data-redirect="{{ continueEditingUrl|hash }}">
                            {{ forms.optionShortcutLabel('S') }}
                            {{ "Save and continue editing"|t('venti') }}
                        </a></li>
					<li><a class="formsubmit" data-redirect="{{ 'venti/{group.handle}/new'|hash }}">{{ "Save and add another"|t('venti') }}</a></li>
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}

	{% if craft.app.isMultiSite() %}
		<input type="hidden" name="siteId" value="{{ event.siteId }}">
	{% endif %}

	<div id="venti-fields" class="fields {% if event.allDay == 1 %}allDay{% endif %}" data-time-format="{{ timeFormat }}" data-date-format="{{ dateFormat }}" data-eod="{{ ed|date(timeFormat) }}" data-sod="{{ sd|date(timeFormat) }}" data-default-event-duration="{{ craft.venti.settings.eventDuration }}">
		{# {% include 'venti/events/_tabs' with { group: eventGroup } only  %} #}

		{% include 'venti/events/_fields' with {
			event: event,
			group: eventGroup,
			dateFormat: dateFormat,
			timeFormat: timeFormat } only %}

	</div>
	
{% endblock %}


{% block details %}
	{# {% if craft.app.isMultiSite() and group.getGroupSiteSettings() | length > 1 %}
		<ul id="sites" class="pane">
			{% for siteId in siteIds %}
				{% set site = craft.app.sites.getSiteById(siteId) %}
				<li{% if siteId == event.siteId %} class="sel"{% endif %}>
					{%- if siteId == event.siteId -%}
						{{ site.name|t('site') }}
						{{ forms.lightswitch({
							name: 'enabledForSite',
							on:   event.enabledForSite,
							small: true,
							disabled: isVersion
						}) }}
					{%- else -%}
						{% set siteEventUrl = url(
							'venti/'~group.handle~'/'~craft.app.request.getSegment(3)~'/'~siteId
						) -%}
						<a href="{{ siteEventUrl }}">{{ site.name|t('site') }}</a>
						<div class="status {{ siteId in enabledSiteIds ? 'enabled' : 'disabled' }}"></div>
					{%- endif -%}
				</li>
			{% endfor %}
		</ul>
	{% endif %} #}
	{% if canPublish %}
		<div id="settings" class="meta">
			{{ forms.textField({
				label: "Slug"|t,
				siteId: event.siteId,
				id: 'slug',
				name: 'slug',
				value: event.slug,
				placeholder: "Enter slug"|t('app'),
				errors: (event.getErrors('slug')|merge(event.getErrors('uri'))),
				disabled: false
			}) }}

			{% if canPublish or (canDeleteEvent) %}

				{# Group Menu Button #}
				{{ groupMenu(eventGroup) }}
				
				{% if canPublish %}
					{{ forms.lightswitchField({
						label: "Enabled"|t('venti'),
						id: 'enabled',
						name: 'enabled',
						on: event.enabled,
						disabled:false
					}) }}
				{% endif %}

				{% if showSites %}
					{{ forms.lightswitchField({
						label: "Enabled for site"|t('venti'),
						id: 'enabledForSite',
						name: 'enabledForSite',
						on: event.enabledForSite
					}) }}
				{% endif %}

				{% if canDeleteEvent %}
					<div class="field">
						<div class="input">
							<input type="button" class="btn formsubmit" value="{{ 'Delete'|t }}" data-action="venti/event/delete-event"
								data-confirm="{{ 'Are you sure you want to delete this event?'|t }}"
								data-redirect="venti">
						</div>
					</div>
				{% endif %}
			
			{% endif %}
		</div>
	{% endif %}
{% endblock %}

{% if not event.slug %}
    {% js %}
        window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
    {% endjs %}
{% endif %}

{% set fieldData = {
	'startDate' : event.startDate ? event.startDate : now,
	'endDate' : event.endDate ? event.endDate : null,
	'allDay'  : event.allDay ? event.allDay : "",
	'rRule'   : event.rRule ? event.rRule : "",
	'summary' : event.summary ? event.summary : "",
	'siteId'  : event.siteId ? event.siteId : craft.siteId
} %}
{% js %}
    new VentiInput({
		id: "venti-fields",
		values: {{ fieldData|json_encode|raw }},
		inline: false,
		namespacedId: "",
		siteId: "{{ craft.app.sites.currentSite.id }}"
	});
{% endjs %}
