{% import "_includes/forms" as forms %}
{% macro dateTimeField(event, attribute, label) %}
    {% import "_includes/forms" as forms %}
    {% set input %}
    {{ forms.date({
			id:        attribute,
			name:      attribute,
			siteId:    event.siteId,
			class: 	  'venti-' ~ attribute|trim|lower ~ '--input',
			value:     event[attribute],
		}) }}
    {{ forms.time({
			id:        attribute,
			name:      attribute,
			siteId:    event.siteId,
			class: 	  'venti-' ~ attribute|trim|lower ~ '--input',
			value:     event[attribute],
			minuteIncrement: craft.venti.settings.timeInterval,
		}) }}
    {% endset %}
    {{ forms.field({
		id:       attribute,
		label:    label,
		siteId:    event.siteId,
		first:    (attribute == 'startDate'),
		required: true,
		errors:   event.getErrors(attribute),
	}, input) }}
{% endmacro %}
{% macro toggleField(event, attribute, label, class) %}
    {% import "_includes/forms" as forms %}
    {% set value = (event[attribute] is defined ? event[attribute] : 1) %}
    {% set input %}
    {% if attribute is defined and (attribute|length < 3 or attribute|slice(-2) != '[]') %}
        <input type="hidden" name="{{ attribute }}" value="">
        {% endif %}
        <input type="checkbox" id="{{ attribute }}" name="{{ attribute }}" value="1" class='venti-{{ attribute|trim|lower}}--input {{ class }}' {%- if value is defined and value %} checked='checked' {% endif %}/>
        <label for="{{ attribute }}">{{ label|raw }}</label>
        {% endset %}
        {{ forms.field({
		id:       attribute,
		label:    label,
		siteId:    event.siteId,
		required: false
	}, input) }}
    {% endmacro %}
    {% macro checkboxField(event, attribute, label, class) %}
        {% import "_includes/forms" as forms %}
        {% set input %}
        {{ forms.checkbox({
			id: 		attribute,
			name: 		attribute,
			siteId:     event.siteId,
			class: 		'venti-' ~ attribute|trim|lower ~ '--input ' ~ class,
			checked: 	event[attribute]
		}) }}
        {% endset %}
        {{ forms.field({
		id:       	attribute,
		label:    	label,
		siteId:     event.siteId,
		required: 	false
	}, input) }}
    {% endmacro %}
    {% macro hiddenField(event, attribute, prefix) %}
        {% import "_includes/forms" as forms %}
        {% set input %}
        <input type="hidden" name="{{ attribute }}" id="venti-{{ attribute|lower }}" class="venti-{{ attribute|trim|lower }}--input" value="{{ event[attribute]}}"/>
        {% endset %}
        {{ forms.field({
		id:       	"venti-" ~ attribute,
		required: 	false,
		class: 		"venti-" ~ attribute|lower,
		siteId:    event.siteId,
	}, input) }}
    {% endmacro %}
    {% macro elementSelectField(name, elementSelectSettings) %}
        {% import "_includes/forms" as forms %}
        {% set input %}
        {{ forms.elementSelectField({
            id: name,
            name: name,
			viewMode: "list",
        }|merge(elementSelectSettings)) }}
        {% endset %}
        {{ forms.field({
        id: name~'location-select',
    }, input) }}
    {% endmacro %}
    {% from _self import elementSelectField %}
    {% from _self import dateTimeField %}
    {% from _self import toggleField %}
    {% from _self import checkboxField %}
    {% from _self import hiddenField %}
    {{ checkboxField(event, 'allDay', "All Day"|t, "venti--checkbox checkbox", false ) }}
    {{ dateTimeField(event, 'startDate', "Start Date"|t, true) }}
    {{ dateTimeField(event, 'endDate', "End Date"|t, false) }}
    {{ toggleField(event, 'recurring', "Recurring Schedule"|t, "venti-toggle venti-toggle-round", false) }}
    {# Event Repeat Schedule Meta Fields #}
    <div class="field venti-summary--wrap">
        <div class='venti-summary--human'>{{ event.summary is defined ? event.summary : "" }}</div>
        {% if event.recurring is defined %}
            {% if event.recurring == 1 %}
                <a class="venti-eventRepeat-edit" data-events-edit style='display:inline;'>{{ 'Edit'|t }}</a>
            {% else %}
                <a class="venti-eventRepeat-edit" data-events-edit style='display:none;'>{{ 'Edit'|t }}</a>
            {% endif %}
        {% endif %}
        <div class='venti-summary-extra-dates'>
            <div class='venti-included-dates u-margin-top-tiny {% if not event.includedDates|length %}hidden{% endif %}'>
                <h6>{{ "Including"|t }}</h6>
                <span class="date__items">
                    {% if event.includedDates|length %}
                        {% for date in event.includedDates %}
                            <span>{{ date|date(dateFormat) }}</span>
                            {% if not loop.last %},
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
            <div class="venti-excluded-dates u-margin-top-small {% if not event.excludedDates|length %}hidden{% endif %}">
                <h6>{{ "Excluding"|t }}</h6>
                <span class="date__items">
                    {% if event.excludedDates|length %}
                        {% for date in event.excludedDates %}
                            <span>{{ date|date(dateFormat) }}</span>
                            {% if not loop.last %},
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <div class='venti-hidden--wrap'>
        {{ hiddenField(event, 'summary', 'venti', false) }}
        {{ hiddenField(event, 'rRule', 'venti', false) }}
    </div>