{# {% include "_venti-fields-holder" %} #}

<div id="venti-input">
	<date-time-inputs 
		:input-start-date="'{{ data.startDate|date(dateFormat) }}'"
		:input-start-time="'{{ data.startDate|date(timeFormat) }}'"
		:input-end-date="'{{ data.endDate|date(dateFormat) }}'"
		:input-end-time="'{{ data.endDate|date(timeFormat) }}'"
		:input-time-zone="'{{ data.startDate.timezone }}'"
		:input-recurring="{{ data.rRule is not empty ? '1' : '0' }}"
		:input-rrule="'{{ data.rRule|default('') }}'"
		:input-all-day="{{ data.allDay|default('0') }}"
		:time-select-interval="30"
		></date-time-inputs>
</div>

{# Location Element Select 
elements: event.location ? craft.venti.locations().id(event.location[0]) : [],
#}
{# {% if craft.venti.settings.hideLocation != 1 %}
	<div class="field">
	{% set elementType = 'tippingmedia\\venti\\elements\\VentiLocation' %}
	{% set locElement = craft.app.elements.createElement(elementType) %}
	    {% set locParams = {
	        label: "Event Location"|t,
	        instructions: "Select the location your event is occuring."|t,
	        limit: 1,
	        elements: [],
	        elementType: locElement,
	        siteId:    event.siteId,
	        selectionLabel: "Choose a location"|t,
	    }
	    %}
	    {{ elementSelectField('location', locParams , false) }}
	</div>

	{{ forms.textField({
	    label: 		"Specific Location"|t,
	    instructions: "Room #, building, entrance …"|t,
	    id: 		'specific-location',
	    name: 		'specificLocation',
	    value: 		event.specificLocation,
	    errors: 	event.getErrors('specificLocation'),
	    siteId:     event.siteId,
	    size: 50,
	    first: 		false,
	    autofocus: 	false,
	    required: 	false
	}) }}

{% endif %} #}

{# {% if craft.venti.settings.hideRegistration != 1 %}
	<div class="field registration-field">
	    <div class="heading">
	        <label for="venti-registration-input">{{ "Registration"|t }}</label>
	        <div class="instructions">{{ "Include your registration url or form embed code."|t }}</div>
	    </div>
	    <div class="input" id="venti-registration-input">
	        {% if event.registration is not empty %}
	            {% set reg = event.registration %}
	        {% endif %}
			<input type="text" class="text" size="50" name="registration[text]" value="{% if reg['text'] is defined and reg['text'] and event.registration['text'] is not empty %}{{event.registration['text']}}{% endif %}" placeholder="{{ "Registration text"|t }}"/>
			<br><br>
	        <input
				type="radio"
				id="venti-registration-toggle-left"
				class="venti--radio venti-registration-toggle-left"
				name="registration[type]"
				value="url" {% if reg['type'] is defined  and reg['type'] == "url" %} checked='checked'{% endif %}/>
	        <label for="venti-registration-toggle-left"><span class='venti--radio-label'>{{ "URL"|t }}</span></label>
	        <input
				type="radio"
				id="venti-registration-toggle-right"
				class="venti--radio venti-registration-toggle-right"
				name="registration[type]"
				value="embed" {% if reg['type'] is defined and reg['type'] == "embed" %} checked='checked'{% endif %}/>
	        <label for="venti-registration-toggle-right"><span class='venti--radio-label'>{{ 'Form Embed'|t }}</span></label>
	        <br/>
	        <br/>
	        <input
				type="text"
				class='text venti--registration-url'
				name="registration[url]"
				size="50"
				placeholder="http://…"
				value="{%- if reg['type'] is defined and reg['type'] == "url" and event.registration['url'] is not empty -%}{{ event.registration['url']|default('') }}{%- endif -%}"/>
	        <textarea
				class='text venti--registration-embed'
				name="registration[embed]"
				rows="10"
				cols="100"
				placeholder="<iframe src=…">{% if reg['type'] is defined and reg['type'] == "embed" and reg['embed'] is not empty %}{{ reg['embed']|default('')}}{% endif %}</textarea>
	    </div>
	</div>
{% endif %} #}
