@charset "UTF-8";

.venti--checkbox[type=checkbox]:not(:checked),
.venti--checkbox[type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}

.venti--checkbox[type=checkbox]:not(:checked) + label,
.venti--checkbox[type=checkbox]:checked + label {
  position: relative;
  padding-left: 25px !important;
  cursor: pointer;
}

/* checkbox aspect */

.venti--checkbox[type=checkbox]:not(:checked) + label:before,
.venti--checkbox[type=checkbox]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 25px !important;
  height: 25px;
  background: #f8f8f8;
  border-radius: 3px;
  border: 1px solid #e3e5e8;
  box-shadow: 0 0 5px rgba(51, 170, 255, 0);
  transition: all 0.5s 0s;
}

/* checked mark aspect */

.venti--checkbox[type=checkbox]:not(:checked) + label:before,
.venti--checkbox[type=checkbox]:checked + label:before {
  font-size: 18px !important;
  line-height: 1.3;
  color: #444444;
}

/* disabled checkbox */

.venti--checkbox[type=checkbox]:disabled:not(:checked) + label:before,
.venti--checkbox[type=checkbox]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.venti--checkbox[type=checkbox]:disabled:checked + label:before {
  color: #999;
}

.venti--checkbox[type=checkbox]:disabled + label {
  color: #aaa;
}

/* accessibility */

.venti--checkbox[type=checkbox]:checked:focus + label:before,
.venti--checkbox[type=checkbox]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

.u-padding {
  padding: 24px !important;
}

.u-padding-tiny {
  padding: 6px !important;
}

.u-padding-small {
  padding: 12px !important;
}

.u-padding-large {
  padding: 48px !important;
}

.u-padding-huge {
  padding: 96px !important;
}

.u-padding-none {
  padding: 0 !important;
}

.u-padding-top {
  padding-top: 24px !important;
}

.u-padding-top-tiny {
  padding-top: 6px !important;
}

.u-padding-top-small {
  padding-top: 12px !important;
}

.u-padding-top-large {
  padding-top: 48px !important;
}

.u-padding-top-huge {
  padding-top: 96px !important;
}

.u-padding-top-none {
  padding-top: 0 !important;
}

.u-padding-right {
  padding-right: 24px !important;
}

.u-padding-right-tiny {
  padding-right: 6px !important;
}

.u-padding-right-small {
  padding-right: 12px !important;
}

.u-padding-right-large {
  padding-right: 48px !important;
}

.u-padding-right-huge {
  padding-right: 96px !important;
}

.u-padding-right-none {
  padding-right: 0 !important;
}

.u-padding-bottom {
  padding-bottom: 24px !important;
}

.u-padding-bottom-tiny {
  padding-bottom: 6px !important;
}

.u-padding-bottom-small {
  padding-bottom: 12px !important;
}

.u-padding-bottom-large {
  padding-bottom: 48px !important;
}

.u-padding-bottom-huge {
  padding-bottom: 96px !important;
}

.u-padding-bottom-none {
  padding-bottom: 0 !important;
}

.u-padding-left {
  padding-left: 24px !important;
}

.u-padding-left-tiny {
  padding-left: 6px !important;
}

.u-padding-left-small {
  padding-left: 12px !important;
}

.u-padding-left-large {
  padding-left: 48px !important;
}

.u-padding-left-huge {
  padding-left: 96px !important;
}

.u-padding-left-none {
  padding-left: 0 !important;
}

.u-margin {
  margin: 24px !important;
}

.u-margin-tiny {
  margin: 6px !important;
}

.u-margin-small {
  margin: 12px !important;
}

.u-margin-large {
  margin: 48px !important;
}

.u-margin-huge {
  margin: 96px !important;
}

.u-margin-none {
  margin: 0 !important;
}

.u-margin-top {
  margin-top: 24px !important;
}

.u-margin-top-tiny {
  margin-top: 6px !important;
}

.u-margin-top-small {
  margin-top: 12px !important;
}

.u-margin-top-large {
  margin-top: 48px !important;
}

.u-margin-top-huge {
  margin-top: 96px !important;
}

.u-margin-top-none {
  margin-top: 0 !important;
}

.u-margin-right {
  margin-right: 24px !important;
}

.u-margin-right-tiny {
  margin-right: 6px !important;
}

.u-margin-right-small {
  margin-right: 12px !important;
}

.u-margin-right-large {
  margin-right: 48px !important;
}

.u-margin-right-huge {
  margin-right: 96px !important;
}

.u-margin-right-none {
  margin-right: 0 !important;
}

.u-margin-bottom {
  margin-bottom: 24px !important;
}

.u-margin-bottom-tiny {
  margin-bottom: 6px !important;
}

.u-margin-bottom-small {
  margin-bottom: 12px !important;
}

.u-margin-bottom-large {
  margin-bottom: 48px !important;
}

.u-margin-bottom-huge {
  margin-bottom: 96px !important;
}

.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

.u-margin-left {
  margin-left: 24px !important;
}

.u-margin-left-tiny {
  margin-left: 6px !important;
}

.u-margin-left-small {
  margin-left: 12px !important;
}

.u-margin-left-large {
  margin-left: 48px !important;
}

.u-margin-left-huge {
  margin-left: 96px !important;
}

.u-margin-left-none {
  margin-left: 0 !important;
}

.venti--radio[type=radio]:not(:checked),
.venti--radio[type=radio]:checked {
  position: absolute;
  left: -9999px;
}

/* radio aspect */

/*.venti--radio[type="radio"]:not(:checked) + label:before,
.venti--radio[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 0px;
  width: 25px !important;
  height: 25px;
  background: #f8f8f8;
  border-radius: 50px;
  border: 1px solid #e3e5e8;
  -webkit-box-shadow: 0 0 5px rgba(51, 170, 255, 0);
  -moz-box-shadow: 0 0 5px rgba(51, 170, 255, 0);
  box-shadow: 0 0 5px rgba(51, 170, 255, 0);
  //transition: all .5s 0s;
}*/

.venti--radio[type=radio]:not(:checked) + label,
.venti--radio[type=radio]:checked + label {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  padding: 6px 12px;
  border: none;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  font-weight: 600;
  color: #576575;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 20, 0.1);
}

label[for*=venti-registration-toggle-left] {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

label[for*=venti-registration-toggle-right] {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  left: -4px;
}

/* checked mark aspect */

/*.venti--radio[type="radio"]:not(:checked) + label:before,
.venti--radio[type="radio"]:checked + label:before {
    color: #323A44;
}*/

.venti--radio[type=radio]:checked + label {
  background-color: #576575;
  color: #f1f1f1;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 5, 0.1);
}

.venti--registration-url,
.venti--registration-embed {
  display: none;
}

.venti-registration-toggle-left:checked ~ .venti--registration-url {
  display: block;
}

.venti-registration-toggle-right:checked ~ .venti--registration-embed {
  display: block;
}

/* disabled radio */

.venti--radio[type=radio]:disabled:not(:checked) + label,
.venti--radio[type=radio]:disabled:checked + label {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.venti--radio[type=radio]:disabled + label {
  color: #aaa;
}

/* accessibility */

.venti--radio[type=radio]:checked:focus + label,
.venti--radio[type=radio]:not(:checked):focus + label {
  border: 1px dotted blue !important;
}

/**
 * Venti Input
 */

.venti_field > span {
  padding-right: 10px;
}

.venti-inline {
  margin-top: 15px;
}

.venti-summary--human {
  display: inline-block;
  padding-left: 0px;
  font-weight: bold;
  font-size: 14px;
}

.venti-summary--wrap {
  margin-bottom: 0px;
}

.venti-eventRepeat-edit {
  margin-left: 5px;
  padding: 3px 10px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #e3e5e8;
  font-weight: bold;
  font-size: 12px;
  color: #3085F2;
  text-decoration: none;
}

.venti-eventRepeat-edit:hover {
  color: #444444;
  background-color: #f8f8f8;
  text-decoration: none;
  transition: all ease-out 0.2s;
}

.venti-exin-date {
  display: inline-block;
  border-radius: 3px;
  padding: 0 4px;
  font-size: 11px;
  color: #8f98a3;
  background: #ebedef;
  margin-right: 10px;
  text-align: center;
}

.venti-summary-extra-dates .venti-excluded-dates h6 {
  color: #cc5643;
}

.venti-summary-extra-dates .venti-included-dates h6 {
  color: #576575;
}

.venti-summary-extra-dates .date__items {
  color: #576575;
}

.venti-summary-extra-dates .date__items span {
  color: #8f98a3;
}

.venti-hidden--wrap .field,
.venti-hidden .field {
  margin: 0px !important;
}

.elementeditor .venti-fields {
  padding: 5%;
}

.elementeditor .venti_modal {
  position: relative;
  top: auto;
  left: auto;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
  -ie-box-shadow: none;
  box-shadow: none;
}

/**
 * Modal
 */

.venti_overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 80 !important;
  text-align: center;
}

.venti_modal {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -190px;
  margin-top: -185px;
  width: 440px;
  text-align: center;
  border: 1px solid #e1e1e1;
  background-color: white;
  -ie-box-shadow: 0px 0px 5px #dddddd;
  box-shadow: 0px 0px 5px #dddddd;
}

.venti_modal h3 {
  margin: 0px;
  padding: 15px 20px 10px 20px;
  text-align: left;
  font-size: 14px;
  color: #444444;
}

.venti_modal table {
  display: inline-block;
  width: 340px;
}

.venti_modal table th {
  width: 100px;
  padding-right: 10px;
  padding-bottom: 15px;
  color: #333333;
  font-weight: 600;
  text-align: right;
}

.venti_modal table td {
  padding-bottom: 15px;
}

.venti_modal table,
.venti_modal select {
  font-size: 13px;
}

.venti_modal .footer table td {
  padding: 0px;
}

.venti_modal .venti_summary {
  font-weight: bold;
}

.venti_modal .venti_endson > span {
  display: block;
  padding-bottom: 5px;
}

.venti_modal .venti_endson > span input {
  margin-right: 3px;
}

.venti_modal .field {
  display: -ms-inline-flex;
  display: inline-flex;
  margin-left: 3px;
}

.venti_modal .sep {
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.venti_modal .elements {
  min-height: 84px;
  padding: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.2) !important;
}

.venti_modal .elements .element {
  transition: all 0.2s 0s;
}

.venti_modal [id*=modtab2],
.venti_modal [id*=modtab3] {
  display: none;
}

.venti_modal .venti_adddate {
  color: #aaaaaa;
  transition: color 0.3s ease-out;
}

.venti_modal .venti_adddate.ready {
  color: #111111;
  transition: color 0.3s ease-out;
}

.venti_modal .btns {
  width: 100%;
}

.venti_modal .pane {
  box-shadow: none;
}

.venti_modal #venti-fields-venti-endsOn-field.field {
  margin-top: 0px !important;
}

.venti-inline .footer {
  display: none;
}

#venti-fields.allDay .timewrapper:before,
.venti-fields.allDay .timewrapper:before {
  position: absolute !important;
  z-index: 1;
  width: 100%;
  height: 30px;
  background-color: white;
  left: 0px;
  top: 0px;
  content: "";
}

#venti-fields.repeats [id*=endDate-field] .datewrapper {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#venti-fields.repeats [id*=endDate-field] .datewrapper:after {
  position: absolute !important;
  z-index: 50;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  left: 0px;
  top: 0px;
  content: "";
}

/* DOW group */

.venti-dayofweek--group td > span:first-child {
  display: inline-block;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
}

.venti-dayofweek--group .venti-dow--item:first-child {
  border-left: 1px solid #e3e5e8;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.venti-dayofweek--group .venti-dow--item:last-child {
  border-right: 1px solid #e3e5e8;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.venti-dayofweek--group .venti-dow--item {
  display: inline-block;
  text-align: center;
  border: 1px solid #e3e5e8;
  border-left: none;
}

.venti-dayofweek--group .venti-dow--item:not(:first-child) {
  margin-left: -4px;
}

.venti-dayofweek--group input[type=checkbox]:not(:checked),
.venti-dayofweek--group input[type=checkbox]:checked {
  position: absolute;
  left: -9999px;
}

.venti-dayofweek--group input[type=checkbox]:not(:checked) + label,
.venti-dayofweek--group input[type=checkbox]:checked + label {
  position: relative;
  cursor: pointer;
  padding: 4px 7px;
  line-height: 1.8;
}

.venti-dayofweek--group input[type=checkbox]:not(:checked) + label:hover {
  background-color: #f8f8f8;
}

.venti-dayofweek--group input[type=checkbox]:checked + label:hover {
  background-color: #318CFF;
}

.venti-dayofweek--group input[type=checkbox]:checked + label {
  background-color: #489AF9;
  color: #ffffff;
}

.venti-inline .footer {
  margin: 0px !important;
}

/**
 * Modal Tabs
 */

.venti_modal_tabs {
  margin: -24px -24px 24px;
  padding: 0 0;
  font-size: 0;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  background-image: linear-gradient(#f7f7f8, #f4f5f6);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

.venti_modal_tabs ul {
  display: flex;
  flex-wrap: nowrap;
}

.venti_modal_tabs li {
  display: inline;
  font-size: 0.9rem;
}

.venti_modal_tabs li a.tab {
  display: block;
  padding: 10px 24px;
  color: #555;
  white-space: nowrap;
  cursor: pointer;
}

.venti_modal_tabs li a.tab.sel {
  background: #fff;
  box-shadow: 0 0 0 1px #e3e5e8;
  color: #000;
  padding-bottom: 10px;
}

/**
 * Modal States
 */

[data-state="1"] .venti-dayofweek--group,
[data-state="1"] .venti-repeatby--group,
[data-state="1"] [class*=venti-select--label]:not(.venti-select--label_days) {
  display: none !important;
}

[data-state="1"] .venti-repeatevery--select {
  display: table-row !important;
}

[data-state="2"] .venti-dayofweek--group,
[data-state="2"] .venti-repeatby--group,
[data-state="2"] .venti-repeatevery--select {
  display: none !important;
}

[data-state="3"] .venti-dayofweek--group,
[data-state="3"] .venti-repeatby--group,
[data-state="3"] .venti-repeatevery--select {
  display: none !important;
}

[data-state="4"] .venti-dayofweek--group,
[data-state="4"] .venti-repeatby--group,
[data-state="4"] .venti-repeatevery--select {
  display: none !important;
}

[data-state="5"] .venti-dayofweek--group,
[data-state="5"] .venti-repeatevery--select {
  display: table-row !important;
}

[data-state="5"] [class*=venti-select--label]:not(.venti-select--label_weeks),
[data-state="5"] .venti-repeatby--group {
  display: none !important;
}

[data-state="6"] .venti-repeatevery--select,
[data-state="6"] .venti-repeatby--group {
  display: table-row !important;
}

[data-state="6"] [class*=venti-select--label]:not(.venti-select--label_months),
[data-state="6"] .venti-dayofweek--group {
  display: none !important;
}

[data-state="7"] .venti-dayofweek--group,
[data-state="7"] .venti-repeatby--group,
[data-state="7"] [class*=venti-select--label]:not(.venti-select--label_years) {
  display: none !important;
}

[data-state="7"] .venti-repeatevery--select {
  display: table-row !important;
}

/* Portrait and Landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .venti_modal {
    position: absolute;
    top: 3%;
    left: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
  }

  .elementeditor .venti-fields {
    padding: 15px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
  .venti_modal {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
    width: 95%;
    transition: all 0.5s 0s;
  }

  .venti_modal table {
    width: 100%;
  }

  .elementeditor .venti-fields {
    padding: 15px;
  }
}

/* Portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .venti_modal {
    position: absolute;
    top: 3%;
    left: 0;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
  }
}

.venti-elementeditor-modal .body {
  height: inherit;
  overflow: scroll !important;
  padding-bottom: 150px;
}

.venti-elementeditor-modal .header {
  width: 100%;
  padding: 15px !important;
  display: inline-block;
  text-align: center;
}

.venti-elementeditor-modal .header .col {
  display: inline-block;
  width: 50%;
}

.venti-elementeditor-modal .header .col:first-child {
  text-align: left;
}

.venti-elementeditor-modal .header .col:last-child {
  text-align: right;
}

.venti-elementeditor-modal .header div:last-child .btn {
  margin: 0px 3px !important;
}

.venti-elementeditor-modal .header .btn.submit {
  margin-left: 6px;
}

.venti-elementeditor-modal .elementeditor .venti-fields {
  padding: 1%;
}

span.menu-label {
  width: 85%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

span.menu-label-color,
span.menu-option-color {
  position: relative;
  display: inline-block !important;
  float: right;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  right: -5px;
  bottom: -3px;
}

@media only screen and (max-width: 992px) {
  a.show-sidebar > .menu-label-color {
    right: 20px;
    bottom: -5px;
  }
}

.group-label-color span.menu-label-color {
  right: 0px;
  bottom: 0px;
  float: none;
}

nav span.menu-label-color {
  right: 5px;
  bottom: -5px;
  border: 1px solid transparent;
}

nav .sel span.menu-label-color {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.groupbtn .groupbtn-label:after {
  content: "\25BC";
  margin-left: 10px;
  position: relative;
  font-family: "Craft";
  speak: none;
  -webkit-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 0.6rem;
  top: -1px;
  color: #29323F;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-align: center;
  font-style: normal;
  vertical-align: middle;
  word-wrap: normal !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.groupbtn span.menu-label-color {
  float: left;
  right: 0px;
  margin-right: 10px;
}

#venti_alertmodal {
  width: 500px;
}

#venti_alertmodal .hud-footer {
  text-align: right;
}

#venti_alertmodal .hud-footer button {
  margin-right: 0.7rem;
}

#venti_alertmodal .hud-footer button:last-child {
  margin-right: 0px;
}

.text--right {
  text-align: right;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

/* Group Sources Modal */

.venti_groupsmodal body {
  padding: 15px;
  padding-bottom: 0px;
}

.venti_group_selects {
  position: relative;
  padding: 10px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-column-rule: 1px solid #efefef;
          column-rule: 1px solid #efefef;
  display: block;
  max-width: 600px;
}

.venti_group_select_item {
  padding-top: 0.7rem;
}

.venti_group_select_item input {
  display: none;
}

.venti_group_select_item input:checked ~ label:before {
  background: #4793F1;
}

.venti_group_select_item input:checked ~ label:after {
  background: white;
  right: 25px;
}

.venti_group_select_item label {
  display: block;
  position: relative;
  font-size: 17px;
  line-height: 20px;
  color: #29323d;
  cursor: pointer;
  padding-right: 77px;
}

.venti_group_select_item label:before,
.venti_group_select_item label:after {
  content: "";
  position: absolute;
  border-radius: 100px;
  transition: 0.2s ease-out;
}

.venti_group_select_item label:before {
  top: 0;
  right: 0;
  height: 20px;
  width: 40px;
  background: #EBECEE;
}

.venti_group_select_item label:after {
  top: 4px;
  right: 4px;
  width: 12px;
  height: 12px;
  background: #72848F;
}

.venti_group_select_item label span {
  margin: 5px 8px 5px 0;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.venti_groupsmodal .footer,
.venti_groupsmodal .hud-footer {
  text-align: right;
}

.venti_groupsmodal .footer button,
.venti_groupsmodal .hud-footer button {
  display: inline;
  margin-right: 0.7rem;
}

.venti_groupsmodal .footer button:last-child,
.venti_groupsmodal .hud-footer button:last-child {
  margin-right: 0px;
}

@media only screen and (max-width: 39.375em) {
  .venti_group_selects {
    -webkit-column-gap: 0px;
            column-gap: 0px;
    -webkit-column-rule: none;
            column-rule: none;
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.fc-groupsToggleButton-button:after {
  background-image: url('data:image/svg+xml;utf8,<svg width="318px" height="172px" viewBox="0 0 318 172" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <rect id="path-1" x="0" y="0" width="318" height="172" rx="86"></rect> <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="318" height="172" fill="white"> <use xlink:href="#path-1"></use> </mask> </defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="Group"> <use id="Rectangle" stroke="#323A44" mask="url(#mask-2)" stroke-width="40" xlink:href="#path-1"></use> <circle id="Oval" fill="#323A44" cx="223.5" cy="86.5" r="44.5"></circle> </g> </g></svg>');
  background-repeat: no-repeat;
  height: 18px;
  width: 24px;
  background-size: 24px 35px;
  background-position: 0px -9px;
  content: "";
  display: inline-block;
  position: relative;
  margin: 0px;
  margin-bottom: -5px;
  margin-left: 5px;
}

.map_container {
  position: relative;
  min-height: 400px;
  width: 100%;
  background-color: #fafafa;
}

.map_container > div {
  z-index: 1 !important;
}

.map_container:after {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" id="Layer_1" x="0px" y="0px" width="64px" height="64px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve"><g><path fill="#e1e1e1" d="M32 0C18.744 0 8 10.746 8 24c0 3.631 0.906 7.844 2.463 10.418 0.057 0.26 20.326 28.744 20.326 28.744C31.164 63.688 31.77 64 32.416 64c0.006 0 0.014 0 0.02 0 0.652-0.006 1.262-0.332 1.631-0.869 0 0 19.24-28.162 19.279-28.242C55.166 31.732 56 27.871 56 24 56 10.746 45.256 0 32 0zM49.943 32.869L32.381 58.512 14.043 32.838C12.594 30.469 12 27.113 12 24c0-11.047 8.955-20 20-20s20 8.953 20 20C52 27.113 51.406 30.5 49.943 32.869z"/><path fill="#e1e1e1" d="M32 12c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12S38.627 12 32 12zM32 32c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8S36.418 32 32 32z"/></g></svg>');
}

/* Tooltip */

.venti-event-tip {
  border: none !important;
  background-color: #ffffff !important;
  padding: 0px !important;
  width: 400px !important;
  max-width: 500px !important;
  height: 225px;
}

.venti-event-tip .tip {
  display: none;
}

.venti-event-tip .event-tip--header {
  background: #fefefe;
  position: relative;
}

.venti-event-tip .event-tip--header h3 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif !important;
  font-size: 1.7em;
  line-height: 1.6;
  font-weight: 200;
  padding: 0px;
  margin: 0px !important;
}

.venti-event-tip .event-tip--header h6 {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif !important;
  text-transform: capitalize;
  margin: 0px !important;
  color: #555555;
  font-weight: 100;
  font-size: 1.2em;
  line-height: 1;
}

.venti-event-tip .event-tip--header .closer {
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.venti-event-tip .event-tip--datetime {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif !important;
  padding: 10px 0px;
  font-size: 1.2em;
  line-height: 1.4;
}

.venti-event-tip .event-tip--datetime > div {
  margin-bottom: 4px;
}

.venti-event-tip .event-tip--datetime > div.repeats {
  font-size: 1em;
  font-style: italic;
}

.venti-event-tip .event-tip--datetime > div.repeats strong {
  font-size: 1em;
  font-style: normal;
}

.venti-event-tip .event-tip--datetime strong {
  width: 70px;
  display: inline-block;
}

.venti-event-tip .event-tip--repeat {
  font-family: HelveticaNeue-Light, HelveticaNeue, sans-serif !important;
  padding: 0px 15px 5px 15px;
  font-size: 1.4em;
  line-height: 1.2;
}

.venti-event-tip .event-tip--repeat strong {
  width: 70px;
  display: inline-block;
}

.venti-event-tip .event-tip--actions {
  padding: 7px 7px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #EAEBED;
  text-align: right;
  box-sizing: border-box;
}

.venti-event-tip .hud-footer {
  text-align: right;
}

.venti-event-tip .hud-footer button {
  margin-right: 0.2rem;
}

.venti-event-tip .hud-footer button:last-child {
  margin-right: 0rem;
}

div.license-status {
  margin-top: -10px;
}

div.license-status:before {
  border: 1px solid;
  border-radius: 9px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  margin-right: 5px;
}

div.license-status.installed {
  color: #00b007;
}

div.license-status.installed:before {
  border-color: #00b007;
}

div.license-status.error {
  color: #da5a47;
}

div.license-status.error:before {
  border-color: #da5a47;
}

.url-text {
  width: 40%;
  display: inline-block;
  font-style: mono;
}

.url-text + .btngroup,
.url-text + .btn {
  display: inline-block;
  margin-left: 10px;
}

.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 5px 8px;
}

.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
}

.tooltipped:hover:before,
.tooltipped:hover:after,
.tooltipped:active:before,
.tooltipped:active:after,
.tooltipped:focus:before,
.tooltipped:focus:after {
  display: inline-block;
  text-decoration: none;
}

.tooltipped-s:after,
.tooltipped-se:after,
.tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px;
}

.tooltipped-s:before,
.tooltipped-se:before,
.tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-n:after,
.tooltipped-ne:after,
.tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px;
}

.tooltipped-n:before,
.tooltipped-ne:before,
.tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-s:after,
.tooltipped-n:after {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8);
}

.tooltipped-multiline:after {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 250px;
  word-break: break-word;
  word-wrap: normal;
  white-space: pre-line;
  border-collapse: separate;
}

.tooltipped-multiline.tooltipped-s:after,
.tooltipped-multiline.tooltipped-n:after {
  right: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltipped-multiline.tooltipped-w:after,
.tooltipped-multiline.tooltipped-e:after {
  right: 100%;
}

.tooltipped-sticky:before,
.tooltipped-sticky:after {
  display: inline-block;
}

.fullscreen-overlay-enabled.dark-theme .tooltipped:after {
  color: #000;
  background: rgba(255, 255, 255, 0.8);
}

.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-s:before,
.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-se:before,
.fullscreen-overlay-enabled.dark-theme .tooltipped .tooltipped-sw:before {
  border-bottom-color: rgba(255, 255, 255, 0.8);
}

.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-n:before,
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-ne:before,
.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-nw:before {
  border-top-color: rgba(255, 255, 255, 0.8);
}

.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-e:before {
  border-right-color: rgba(255, 255, 255, 0.8);
}

.fullscreen-overlay-enabled.dark-theme .tooltipped.tooltipped-w:before {
  border-left-color: rgba(255, 255, 255, 0.8);
}

.tooltipped-se:after,
.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px;
}

.tooltipped-sw:after,
.tooltipped-nw:after {
  margin-right: -15px;
}

input.venti-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

input.venti-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.venti-toggle:after {
  content: "";
}

input.venti-toggle-round + label {
  padding: 2px;
  width: 40px;
  height: 22px;
  background-color: #dddddd;
  border-radius: 60px;
  color: transparent;
}

input.venti-toggle-round + label:before,
input.venti-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.venti-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.2s;
}

input.venti-toggle-round + label:after {
  width: 23px;
  background-color: #fff;
  border-radius: 100%;
  transition: margin 0.2s;
  border: 1px solid #eeeeee;
}

input.venti-toggle-round:checked + label:before {
  background-color: #00b007;
}

input.venti-toggle-round:checked + label:after {
  margin-left: 18px;
}

.v-select {
  position: relative;
  font-family: inherit;
}

.v-select,
.v-select * {
  box-sizing: border-box;
}

/* KeyFrames */

@-webkit-keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes vSelectSpinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Dropdown Default Transition */

.vs__fade-enter-active,
.vs__fade-leave-active {
  transition: opacity 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.vs__fade-enter,
.vs__fade-leave-to {
  opacity: 0;
}

/** Component States */

/*
 * Disabled
 *
 * When the component is disabled, all interaction
 * should be prevented. Here we modify the bg color,
 * and change the cursor displayed on the interactive
 * components.
 */

.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__clear,
.vs--disabled .vs__search,
.vs--disabled .vs__selected,
.vs--disabled .vs__open-indicator {
  cursor: not-allowed;
  background-color: #f8f8f8;
}

/*
 *  RTL - Right to Left Support
 *
 *  Because we're using a flexbox layout, the `dir="rtl"`
 *  HTML attribute does most of the work for us by
 *  rearranging the child elements visually.
 */

.v-select[dir=rtl] .vs__actions {
  padding: 0 3px 0 6px;
}

.v-select[dir=rtl] .vs__clear {
  margin-left: 6px;
  margin-right: 0;
}

.v-select[dir=rtl] .vs__deselect {
  margin-left: 0;
  margin-right: 2px;
}

.v-select[dir=rtl] .vs__dropdown-menu {
  text-align: right;
}

/**
    Dropdown Toggle

    The dropdown toggle is the primary wrapper of the component. It
    has two direct descendants: .vs__selected-options, and .vs__actions.

    .vs__selected-options holds the .vs__selected's as well as the
    main search input.

    .vs__actions holds the clear button and dropdown toggle.
 */

.vs__dropdown-toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: flex;
  padding: 0 0 4px 0;
  background: none;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  white-space: normal;
}

.vs__selected-options {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0 2px;
  position: relative;
}

.vs__actions {
  display: flex;
  align-items: center;
  padding: 4px 6px 0 3px;
}

/* Dropdown Toggle States */

.vs--searchable .vs__dropdown-toggle {
  cursor: text;
}

.vs--unsearchable .vs__dropdown-toggle {
  cursor: pointer;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.vs__open-indicator {
  fill: rgba(60, 60, 60, 0.5);
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition: transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855), -webkit-transform 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
  transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
}

.vs--open .vs__open-indicator {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
}

.vs--loading .vs__open-indicator {
  opacity: 0;
}

/* Clear Button */

.vs__clear {
  fill: rgba(60, 60, 60, 0.5);
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
}

/* Dropdown Menu */

.vs__dropdown-menu {
  display: block;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  z-index: 1000;
  padding: 5px 0;
  margin: 0;
  width: 100%;
  max-height: 350px;
  min-width: 160px;
  overflow-y: auto;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-top-style: none;
  border-radius: 0 0 4px 4px;
  text-align: left;
  list-style: none;
  background: #fff;
}

.vs__no-options {
  text-align: center;
}

/* List Items */

.vs__dropdown-option {
  line-height: 1.42857143;
  /* Normalize line height */
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #333;
  /* Overrides most CSS frameworks */
  white-space: nowrap;
}

.vs__dropdown-option:hover {
  cursor: pointer;
}

.vs__dropdown-option--highlight {
  background: #5897fb;
  color: #fff;
}

/* Selected Tags */

.vs__selected {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid rgba(60, 60, 60, 0.26);
  border-radius: 4px;
  color: #333;
  line-height: 1.4;
  margin: 4px 2px 0px 2px;
  padding: 0 0.25em;
}

.vs__deselect {
  display: inline-flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-left: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  fill: rgba(60, 60, 60, 0.5);
  text-shadow: 0 1px 0 #fff;
}

/* States */

.vs--single .vs__selected {
  background-color: transparent;
  border-color: transparent;
}

.vs--single.vs--open .vs__selected {
  position: absolute;
  opacity: 0.4;
}

.vs--single.vs--searching .vs__selected {
  display: none;
}

/* Search Input */

.vs__search::-webkit-search-decoration,
.vs__search::-webkit-search-cancel-button,
.vs__search::-webkit-search-results-button,
.vs__search::-webkit-search-results-decoration,
.vs__search::-ms-clear {
  display: none;
}

.vs__search,
.vs__search:focus {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: 1.4;
  font-size: 1em;
  border: 1px solid transparent;
  border-left: none;
  outline: none;
  margin: 4px 0 0 0;
  padding: 0 7px;
  background: none;
  box-shadow: none;
  width: 0;
  max-width: 100%;
  flex-grow: 1;
}

.vs__search::-webkit-input-placeholder {
  color: inherit;
}

.vs__search:-ms-input-placeholder {
  color: inherit;
}

.vs__search::-ms-input-placeholder {
  color: inherit;
}

.vs__search::placeholder {
  color: inherit;
}

/**
    States
 */

.vs--unsearchable .vs__search {
  opacity: 1;
}

.vs--unsearchable .vs__search:hover {
  cursor: pointer;
}

.vs--single.vs--searching:not(.vs--open):not(.vs--loading) .vs__search {
  opacity: 0.2;
}

/* Loading Spinner */

.vs__spinner {
  align-self: center;
  opacity: 0;
  font-size: 5px;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 0.9em solid rgba(100, 100, 100, 0.1);
  border-right: 0.9em solid rgba(100, 100, 100, 0.1);
  border-bottom: 0.9em solid rgba(100, 100, 100, 0.1);
  border-left: 0.9em solid rgba(60, 60, 60, 0.45);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: vSelectSpinner 1.1s infinite linear;
          animation: vSelectSpinner 1.1s infinite linear;
  transition: opacity 0.1s;
}

.vs__spinner,
.vs__spinner:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

/* Loading Spinner States */

.vs--loading .vs__spinner {
  opacity: 1;
}

