{% extends "_layouts/elementindex" %}

{% includeCssResource "venti/css/venti.css" %}

{% set title = "Locations"|t %}
{% set elementType = 'Venti_Location' %}

{% set tabs = {
	events: { label: "Events"|t, url: url('venti') },
	calendar: { label: "Calendar"|t, url: url('venti/calendar') },
	groups: { label: "Groups"|t, url: url('venti/groups') },
	locations: { label: "Locations"|t, url: url('venti/locations') },
} %}

{% set selectedTab = 'locations' %}

{% if currentUser.can('ventiSettings') %}
	{% set tabs = tabs|merge({settings: { label: "Settings"|t, url: url('venti/settings') }}) %}
{% endif %}

{% set extraPageHeaderHtml %}
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('venti/location/new') }}">{{ "New Location"|t }}</a>
	</div>
{% endset %}

{% block sidebar %}
	{% if sources is not empty %}
		<nav style="display:none;">
			{% include "_elements/sources" %}
		</nav>
	{% endif %}
{% endblock %}
